@font-face {
    font-family: alteHaasGrotesk;
    src: url('../fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf');
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.grey-text {
    padding: 0px 25px;
}

nav div a,
#logo-container,
#nav-mobile a,
h1,
h3 {
    color: black;
    font-family: alteHaasGrotesk;
}

.contact-bg {
    background-image: url('../images/bgContact.jpg');
    background-size: cover;
}



.carousel-first {
    background-image: url('../images/bartender.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-second {
    background-image: url('../images/dj.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-third {
    background-image: url('../images/bamazon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-fourth {
    background-image: url('../images/node.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.prof-pic {
    height: 150px;
    width: 150px;
}

/* change to test git creds */